venv
database/pulled/curated-youtube-general-videos
database/pulled/curated-youtube-trailer-videos
database/clientinfo
database/serverinfo
database/update
database/updates
update-server/payload
update-server/logs.txt
