.application_buttons_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 15%));
    grid-auto-rows: 35%;
    gap: 1%;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: start;
    align-content: start;
    justify-items: center;
    align-items: center;
    margin-left: -1%;
    margin-top: 2%;

}

.app-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-btn:hover {
    opacity: 0.8;
}

.app-icon {
    margin-bottom: 20%;
}

.app-btn span {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

