.application_buttons_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12vw, 12vw));
    grid-auto-rows: 10vw;
    gap: 0.6vw;
    padding-top: -4vw;
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-right: 1.5vw;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: start;
    align-content: start;
    justify-items: center;
    align-items: center;

}

.app-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    font-size: 1.1vw;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-btn:hover {
    opacity: 0.8;
}

.app-icon {
    margin-bottom: 0.5vw;
    border-radius: 1vw;
    width: 4.8vw;
    height: 4.8vw;
}

.app-btn span {
    display: block;
    height: 1.3vw;
    line-height: 1.3vw;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

