#persistent-player {
    position: relative;
    margin-left: 220px;
    margin-top: 40px;
    width: calc(100% - 220px);
    pointer-events: none;
    z-index: 2;
    margin-bottom: 60px;
}

.carousel-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    pointer-events: none;
    margin-top: 8%;
}

.carousel-btn {
    font-size: 42px;
    background: rgba(0,0,0,0.4);
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 3;
    pointer-events: auto;
}

#carousel-container iframe {
    pointer-events: none !important;
}

#carousel-container .thumbnail-frame {
    pointer-events: none !important;
}

.left-btn {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.right-btn {
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
}

.carousel {
    width: 80%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 0;
    pointer-events: auto;
}

.carousel iframe {
    width: 100%;
    aspect-ratio: 16/9;
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: auto;
    border: none;
}

.center-video {
    transform: scale(1.25);
    z-index: 3;
}

.side-video {
    transform: scale(0.9);
    z-index: 2;
}

.left-video { transform: scale(0.9); }
.right-video { transform: scale(0.9); }

.hidden-video {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
    width: 320px !important;
    height: 180px !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.trailer-wrapper {
    width: 100%;
    margin-top: 8%;
    display: flex;
    justify-content: flex-start;
    margin-left: 3%;
    align-items: center;
    gap: 30px;
}

#standalone-trailer-frame {
    width: 40vw;
    max-width: 1400px;
    aspect-ratio: 16/9;
    border: none;
}

#standalone-trailer-title {
    font-size: 32px;
    font-weight: 700;
    max-width: 40%;
    color: #ffffff;
    line-height: 1.35;
    letter-spacing: 1px;

    text-shadow:
        0 0 4px rgba(0,0,0,0.8),
        0 0 6px rgba(0,0,0,0.6);

    background: rgba(0,0,0,0.35);
    padding: 16px 22px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
}


.thumbnail-grid-container {
    margin-top: 4%;
    margin-right: 11%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    overflow: visible;
}

.thumbnail-grid-container img {
    width: 100%;
    transition: transform .3s ease;
}

