{% extends "base.html" %}
{% block content %}
<div class="app-buttons">
    <button class="app-btn" onclick="window.location.href='https://www.google.com'">
        <img src="{{ url_for('static', filename='assets/icons/google-search-64x64.png') }}" class="app-icon">
        <span>Google Search</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://weather.com'">
        <img src="{{ url_for('static', filename='assets/icons/weather-64x64.png') }}" class="app-icon">
        <span>Weather</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://www.youtube.com'">
        <img src="{{ url_for('static', filename='assets/icons/youtube-64x64.png') }}" class="app-icon">
        <span>YouTube</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.youtube.com/shorts'">
        <img src="{{ url_for('static', filename='assets/icons/youtube-shorts-64x64.png') }}" class="app-icon">
        <span>YouTube Shorts</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://music.youtube.com/explore'">
        <img src="{{ url_for('static', filename='assets/icons/youtube-music-64x64.png') }}" class="app-icon">
        <span>YouTube Music</span>
    </button>
    
    <button class="app-btn" onclick="(function(){
        const urls = [
            'https://www.netflix.com/il-en/browse/genre/83',
            'https://www.netflix.com/il-en/browse/genre/34399'
        ];
        window.location.href = urls[Math.floor(Math.random() * 2)];
    })();">
        <img src="{{ url_for('static', filename='assets/icons/netflix-64x64.png') }}" class="app-icon">
        <span>Netflix</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://ondisneyplus.disney.com/recent-releases'">
        <img src="{{ url_for('static', filename='assets/icons/disney-plus-64x64.png') }}" class="app-icon">
        <span>Disney+</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.tiktok.com'">
        <img src="{{ url_for('static', filename='assets/icons/tiktok-64x64.png') }}" class="app-icon">
        <span>TikTok</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://open.spotify.com'">
        <img src="{{ url_for('static', filename='assets/icons/spotify-64x64.png') }}" class="app-icon">
        <span>Spotify</span>
    </button>

    <button class="app-btn" onclick="(function(){
        const urls = [
            'https://www.primevideo.com/movie',
            'https://www.primevideo.com/tv'
        ];
        window.location.href = urls[Math.floor(Math.random() * 2)];
    })();">
        <img src="{{ url_for('static', filename='assets/icons/prime-video-64x64.png') }}" class="app-icon">
        <span>Prime Video</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://watch.plex.tv'">
        <img src="{{ url_for('static', filename='assets/icons/plex-64x64.png') }}" class="app-icon">
        <span>Plex TV</span>
    </button>

    <button class="app-btn" onclick="(function(){
        const urls = [
            'https://www.imdb.com/calendar/?region=US&type=TV_EPISODE',
            'https://www.imdb.com/calendar/?region=US&type=TV',
            'https://www.imdb.com/calendar/?region=US&type=MOVIE'
        ];
        window.location.href = urls[Math.floor(Math.random() * 2)];
    })();">
        <img src="{{ url_for('static', filename='assets/icons/imdb-64x64.png') }}" class="app-icon">
        <span>IMDb</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://www.justwatch.com/us/new'">
        <img src="{{ url_for('static', filename='assets/icons/justwatch-64x64.png') }}" class="app-icon">
        <span>JustWatch</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://soundcloud.com/discover'">
        <img src="{{ url_for('static', filename='assets/icons/soundcloud-64x64.png') }}" class="app-icon">
        <span>Soundcloud</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://tv.apple.com'">
        <img src="{{ url_for('static', filename='assets/icons/apple-tv-64x64.png') }}" class="app-icon">
        <span>Apple TV</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.viki.com'">
        <img src="{{ url_for('static', filename='assets/icons/viki-64x64.png') }}" class="app-icon">
        <span>Viki</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.dailymotion.com'">
        <img src="{{ url_for('static', filename='assets/icons/dailymotion-64x64.png') }}" class="app-icon">
        <span>DailyMotion</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://www.rumble.com'">
        <img src="{{ url_for('static', filename='assets/icons/rumble-64x64.png') }}" class="app-icon">
        <span>Rumble</span>
    </button>

    <button class="app-btn" onclick="window.location.href='https://www.odysee.com'">
        <img src="{{ url_for('static', filename='assets/icons/odysee-64x64.png') }}" class="app-icon">
        <span>Odysee</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.crunchyroll.com/videos/new'">
        <img src="{{ url_for('static', filename='assets/icons/crunchyroll-64x64.png') }}" class="app-icon">
        <span>CrunchyRoll</span>
    </button>
    
    <button class="app-btn" onclick="window.location.href='https://www.reddit.com'">
        <img src="{{ url_for('static', filename='assets/icons/reddit-64x64.png') }}" class="app-icon">
        <span>Reddit</span>
    </button>

</div>
{% endblock %}
