{% extends "base.html" %}

{% block persistent_player %}
<div class="carousel-wrapper">
    <button class="carousel-btn left-btn" id="left-carousel-btn">&#10094;</button>
    <div class="carousel" id="carousel-container"></div>
    <button class="carousel-btn right-btn" id="right-carousel-btn">&#10095;</button>
</div>

<div class="trailer-wrapper">
    <div id="standalone-trailer-overlay"></div>
    <iframe id="standalone-trailer-frame"></iframe>
    <div id="standalone-trailer-title"></div>
</div>
{% endblock %}

{% block content %}
<div class="thumbnail-grid-container" id="thumbnail-grid-container"></div>
{% endblock %}

