[Unit]
Description=LibreWolf Kiosk
After=tv-streamer.service graphical-session.target
Requires=tv-streamer.service

[Service]
Type=simple
ExecStart=/usr/bin/bash -c "/usr/bin/librewolf & /usr/bin/xdotool search --sync --onlyvisible --name LibreWolf windowactivate && /usr/bin/wmctrl -r :ACTIVE: -b add,fullscreen && wait"
Restart=no
Environment=DISPLAY=:0
Environment=MOZ_ENABLE_WAYLAND=0

[Install]
WantedBy=default.target

