# setup/tv-streamer.service
[Unit]
Description=Personal TV Streamer (Backend)
After=graphical-session.target

[Service]
Type=simple
WorkingDirectory=/home/tv-streamer/personal-tv-streamer-iso
ExecStart=/home/tv-streamer/personal-tv-streamer-iso/venv/bin/python /home/tv-streamer/personal-tv-streamer-iso/main.py
Environment=DISPLAY=:0

[Install]
WantedBy=default.target

